# This file is used to tell Git which files to ignore from the tree
# -----------------------------------------------------------------

*~
*.obj
*.orig
*.rej

# xemacs temporary files
*.flc

# Vim temporary files
*.swp

# build directories
apidocs/
minsize/
oldmake/
debug/

# Debian build files and directories
debian
obj-*-linux-gnu/
package/debian/.debhelper/
package/debian/debhelper-build-stamp
package/debian/files
package/debian/katie-git.debhelper.log
package/debian/katie-git.substvars
package/debian/katie-git/

# tarballs from oldmake.sh
scripts/cmake-*.tar.gz