# This file is used to tell Git which files to ignore from the tree
# -----------------------------------------------------------------

*~
*.obj
*.orig
*.rej

# xemacs temporary files
*.flc

# Vim temporary files
*.swp

# build directories
apidocs/
minsize/
oldmake/
debug/
crossdeb/

# symlink to package/debian
debian

# Debian build files and directories
obj-*-gnu/
package/debian/.debhelper/
package/debian/debhelper-build-stamp
package/debian/files
package/debian/katie-*.log
package/debian/katie-*.substvars
package/debian/katie-*/
# Fedora build files and directories
*-linux-gnu/

# tarballs from tarball.sh and oldmake.sh
*.tar.xz
scripts/cmake-*.tar.gz
