Source: katie-git
Section: x11
Priority: optional
Maintainer: Ivailo Monev <xakepa10@gmail.com>
Homepage: https://github.com/fluxer/katie
Vcs-Git: git://github.com/fluxer/katie.git
Vcs-browser: https://github.com/fluxer/katie
Standards-Version: 4.9.0
Build-Depends: debhelper (>= 9~), g++, libssl-dev, zlib1g-dev, libzstd-dev,
 libc6-dev, libpng-dev, libjpeg-dev, libtiff5-dev, libmng-dev, libcups2-dev,
 libfreetype6-dev, libfontconfig1-dev, libpcre3-dev, libdbus-1-dev,
 unixodbc-dev, libpq-dev, libpqtypes-dev, libmariadbclient-dev, libicu-dev,
 libmariadbd-dev, libaio-dev, libsqlite3-dev, xorg-dev, cmake, git,
 libunwind-dev

Package: katie-git
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, openssl, zlib1g, libzstd1, libc6,
 libpng16-16, libjpeg62-turbo, libtiffxx5, libmng1, libcups2, libfreetype6,
 libfontconfig1, libpcre3,  libdbus-1-3, libsqlite3-0, libicu63, libunwind8
Recommends: unixodbc, libpq5, libmariadbclient, xorg
Description: C++ toolkit derived from the Qt 4.8 framework
