#!/usr/bin/make -f

KATIE_CROSS_EXEC=""
ifneq ($(DEB_HOST_ARCH_CPU),$(DEB_BUILD_ARCH_CPU))
	KATIE_CROSS_EXEC="qemu-$(DEB_HOST_ARCH_CPU)-static"
endif

KATIE_BUILD_DIR="$(shell pwd)/obj-$(DEB_HOST_GNU_TYPE)"

%:
	dh $@ --parallel

override_dh_shlibdeps:
	dh_shlibdeps -l$(KATIE_BUILD_DIR)/lib

override_dh_auto_configure:
	dh_auto_configure -- -Wno-dev \
		-DKATIE_LDCONF_FULL=/etc/ld.so.conf.d \
		-DKATIE_SETTINGS_FULL=/etc/xdg \
		-DKATIE_PROFILE_FULL=/etc/profile.d \
		-DKATIE_TOOLS_SUFFIX="-katie" \
		-DKATIE_ALLINONE=OFF \
		-DKATIE_CROSS_EXEC=$(KATIE_CROSS_EXEC)

override_dh_auto_build:
	dh_auto_build

override_dh_auto_install:
	$(MAKE) -C $(KATIE_BUILD_DIR) install-runtime DESTDIR=../debian/katie-runtime
	rm -vrf debian/katie-runtime/etc/
	$(MAKE) -C $(KATIE_BUILD_DIR) install-tools DESTDIR=../debian/katie-tools
	$(MAKE) -C $(KATIE_BUILD_DIR) install-devel DESTDIR=../debian/katie-dev
	$(MAKE) -C $(KATIE_BUILD_DIR) install-doc DESTDIR=../debian/katie-doc

override_dh_auto_clean:
	dh_auto_clean
