#!/usr/bin/make -f

KATIE_CROSS_EXEC=""
ifneq ($(DEB_HOST_ARCH_CPU),$(DEB_BUILD_ARCH_CPU))
	KATIE_CROSS_EXEC="qemu-$(DEB_HOST_ARCH_CPU)-static"
endif

%:
	dh $@ --parallel

override_dh_shlibdeps:
	dh_shlibdeps -l$(shell pwd)/obj-$(DEB_BUILD_GNU_TYPE)/lib

override_dh_auto_configure:
	dh_auto_configure -- -Wno-dev \
		-DKATIE_LDCONF_FULL=/etc/ld.so.conf.d \
		-DKATIE_SETTINGS_FULL=/etc/xdg \
		-DKATIE_PROFILE_FULL=/etc/profile.d \
		-DKATIE_TOOLS_SUFFIX="-katie" \
		-DKATIE_ALLINONE=OFF \
		-DKATIE_CROSS_EXEC=$(KATIE_CROSS_EXEC)

override_dh_auto_build:
	dh_auto_build

override_dh_auto_install:
	dh_auto_install
	rm -vrf debian/katie-git/etc/

override_dh_auto_clean:
	dh_auto_clean
